[Unit]
Description = run cuebot service 
After = network.target

[Service]
ExecStart = /OpenCue-files/cuebot_init.sh

[Install]
WantedBy = multi-user.target
